* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(223, 230, 243);
    width: 96%;
    margin: auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 2%;
  }

  .littleButton {
  width: 48%;
  margin-bottom: 4%;
  font-size: 1.3em;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.littleButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.littleButton:active {
	position:relative;
	top:1px;
}

  .gameTile {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2vh;
    text-align: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 1vw;
  }