* {
    margin: 0;
    padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(223, 230, 243);
}

.container {
  width: 98%;
  margin: auto;
}

.navbar {
  background-color: rgb(75, 75, 247);
  height: 3vh;
  padding: 1vh;

}

.navlink{
  color: white;
  text-decoration: none;
  padding: 0 3vw;
}

.navlink:hover{
  text-decoration: underline;
}

.bigButtonContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin-top: 2%;

}

.headline{
  text-align: center;
}

.buttonImg{
  width: 70%;
  margin: 2vh auto;
  display:block;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-top: 2%;
}

.bigButton {
  width: 48%;
  margin-bottom: 4%;
  font-size: 1.3em;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-weight:bold;
  padding:10px 30px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.bigButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.bigButton:active {
	position:relative;
	top:1px;
}

  .littleButton {
  width: 48%;
  margin-bottom: 4%;
  font-size: 1.3em;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.littleButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.littleButton:active {
	position:relative;
	top:1px;
}

.gameTile {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 2vh;
  text-align: center;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 1vw;
}

.live{
  color: rgb(238, 86, 99);
  animation: pulsate 1.5s ease-out;         
  animation-iteration-count: infinite;
  opacity: 0.5;
}

.footer{
  text-align: center;
  padding: 1vh 0;
}

/*View for tablet*/
@media only screen and (min-width: 479px) {

  .bigButton {
    width: 30%;
  }

  .buttonContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 29%);
    grid-gap: 1rem;
    justify-content: space-between;
  }

  .gamesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 47.5%);
    grid-gap: 1rem;
    justify-content: space-between;
  }


  .littleButton {
    width: 100%;
  } 
  
}

/*View for desktop*/
@media only screen and (min-width: 1000px) {

  .container{
    width: 90%;
  }

  .buttonContainer{
    grid-template-columns: repeat(auto-fill, 15%);
  }


  .gamesContainer{
    grid-template-columns: repeat(auto-fill, 31%);
  }
  
}
