@use 'base';

$element--light: rgb(75, 75, 247);
$element--dark: rgb(48, 71, 94);
$text--dark: rgb(221, 221, 221);

#navbar {
    background-color: $element--light;
    padding: 1vh;
    margin-bottom: 2.5vh;
}

  
.navbar--link{
    color: white;
    text-decoration: none;
    padding: 0 3vw;
}

.navbar--link:hover{
    text-decoration: underline;
}

@media(prefers-color-scheme: dark) {
    #navbar{
        background: $element--dark;
    }

    .navbar--link:visited {
        color: $text--dark;
    }

}

@media only screen and (min-width: 479px) {
    #navbar {
        padding: 0.75vh;
        margin-bottom: 1.5vh;
    }
    
    .navbar--link{
        font-size: 1.3em;
        padding: 0 2vw;
    }
}

@media only screen and (min-width: 1000px) {

    #navbar--linksContainer{
      width: 93%;
      margin:auto;
    }
  
    .navbar--link{
      padding: 0 1vw;
    }
}